[Unit]
Description=Vaultwarden
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/bitwarden/docker-bw-stack
ExecStart=/usr/bin/env /usr/bin/docker compose -f /opt/bitwarden/docker-bw-stack/docker-compose.yml up -d --remove-orphans
ExecStop=/usr/bin/env /usr/bin/docker compose -f /opt/bitwarden/docker-bw-stack/docker-compose.yml stop
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
