[DEFAULT]
bantime   = 1h
findtime  = 6h
maxretry  = 5
bantime.increment = true
bantime.maxtime = 5w
bantime.factor = 24

# This setup is for Debain 10 which uses nft over iptables. Uncomment chains and switch action to use iptables
banaction = nftables-input

ignoreip  = 127.0.0.1/8 ::1

[vaultwarden-auth]
enabled = true
banaction = nftables-forward
#chain   = DOCKER-USER

[sshd]
enabled = true
banaction = nftables-input
#chain   = INPUT
