[DEFAULT]
bantime.increment = true
bantime.maxtime = 5w
bantime.factor = 24

bantime   = 1h
findtime  = 24h
maxretry  = 5
banaction = iptables-allports
ignoreip  = 127.0.0.1/8 ::1

[vaultwarden-auth]
enabled = true
action  = iptables-allports[name=vaultwarden]

[sshd]
enabled = true
chain   = INPUT
action  = iptables-allports[name=sshd]
